<?xml version="1.0" ?>
<launch>

  <!-- Load robot model -->
  <include file="$(find fanuc_m20ib_support)/launch/load_m20ib25.launch" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- industrial_robot_simulator: accepts robot commands and reports status -->
  <rosparam param="controller_joint_names">['joint_1', 'joint_2', 'joint_3', 'joint_4', 'joint_5', 'joint_6']</rosparam>
  <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="industrial_robot_simulator"/>
  <node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />

</launch>
